@use "../../styles/variables.scss" as *;

.landing {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctaButton {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: $color-primary;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.content {
  position: relative;
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: opacity 1s ease-in-out;
}

.contentExit {
  opacity: 0;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: $color-primary;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-size: 1rem;
  color: $text-secondary;
  margin: 0;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: $text-primary;
  margin: 0;
  line-height: 1.5;
}
.card {
  position: absolute;
  width: clamp(180px, 24vw, 320px);
  height: clamp(220px, 30vw, 400px);
  pointer-events: auto;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.cardExit {
  opacity: 0;
}

.cardsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.cardBackground {
  position: absolute;
  left: -2rem;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  z-index: 2;
  border: 8px solid $card-background;
  background-color: #faf0b8;
  padding: 1rem;
  // box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.cardCity {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  z-index: 3;
}

.cardImage {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  z-index: 2;
  border: 8px solid $card-background;
  // box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
